# RQ 1: Did the 2012 Olympic games increase tourist activity in East London region?

In [27]:
# Importing libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
import datetime

In [28]:
# Importing data
df = pd.read_csv('UK_international-visits.csv')
df.head()

/var/folders/d3/ry6v0r7j28d4wdqwrz_hvdqc0000gn/T/ipykernel_14364/3518813486.py:2: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('UK_international-visits.csv')

,year,quarter,market,dur_stay,mode,purpose,area,visits,spend,nights,sample
0,2002,January-March,Belgium,1-3 nights,Air,Holiday,TOTAL ENGLAND,4.431616,1.013484,9.530416,6
1,2002,January-March,Belgium,1-3 nights,Air,Holiday,LONDON,3.572186,0.969138,6.954456,5
2,2002,January-March,Belgium,1-3 nights,Air,Holiday,REST OF ENGLAND,0.859430,0.044346,2.575960,1
3,2002,January-March,Belgium,1-3 nights,Air,Holiday,SOUTHERN ENGLAND,0.859430,0.044346,2.575960,1
4,2002,January-March,Belgium,1-3 nights,Air,Holiday,SOUTH EAST,0.859430,0.044346,2.575960,1

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 549853 entries, 0 to 549852
Data columns (total 11 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   year      549853 non-null  object
 1   quarter   549853 non-null  object
 2   market    549853 non-null  object
 3   dur_stay  549853 non-null  object
 4   mode      549853 non-null  object
 5   purpose   549853 non-null  object
 6   area      549853 non-null  object
 7   visits    549853 non-null  float64
 8   spend     549853 non-null  float64
 9   nights    549853 non-null  float64
 10  sample    549853 non-null  int64
dtypes: float64(3), int64(1), object(7)
memory usage: 46.1+ MB

In [30]:
from sklearn.preprocessing import MinMaxScaler

# Assuming you have a dataframe called 'df' and a list of columns to normalize
columns_to_normalize = ['visits','spend','nights', 'sample']

scaler = MinMaxScaler()
df[columns_to_normalize] = scaler.fit_transform(df[columns_to_normalize])
df[columns_to_normalize].head()

     visits     spend    nights    sample
0  0.019436  0.002407  0.002366  0.014925
1  0.015667  0.002302  0.001726  0.011940
2  0.003769  0.000108  0.000639  0.000000
3  0.003769  0.000108  0.000639  0.000000
4  0.003769  0.000108  0.000639  0.000000

In [31]:
#import sav files for cultural engagement and concatenating them
df = pd.read_spss('spss12/1a.sav')
df.head()

,scrser,cserial,cscreen,dwell1,dwell2,dwellin,nadults,nwadult,sex1,sex2,...,padd1,pind1,cdweight1,pind3,cdweight3,nrweight2,finalwt1,finalwt3,popwt1,popwt3
0,1001010.0,100101.0,Main Sample Address,1.0,NaN,1.0,1.0,NaN,Male,NaN,...,0.004058,0.004058,0.310474,0.004058,0.347056,1.613,0.262512,0.284713,399.943051,402.646790
1,1001030.0,100103.0,Main Sample Address,1.0,NaN,1.0,3.0,NaN,Male,Female,...,0.004058,0.001353,0.931421,0.001353,1.041167,1.613,0.812436,0.895140,1237.766607,1265.926032
2,1001040.0,100104.0,Main Sample Address,1.0,NaN,1.0,2.0,NaN,Female,Male,...,0.004058,0.002029,0.620947,0.002029,0.694112,1.704,0.529924,0.568226,807.351705,803.596438
3,1001050.0,100105.0,Main Sample Address,1.0,NaN,1.0,4.0,NaN,Male,Male,...,0.004058,0.001015,1.241894,0.001015,1.388223,1.818,1.425664,1.552870,2172.033573,2196.100930
4,1001080.0,100108.0,Main Sample Address,1.0,NaN,1.0,2.0,NaN,Male,Female,...,0.004058,0.002029,0.620947,0.002029,0.694112,1.704,0.546224,0.595327,832.186264,841.923547

In [32]:
df.shape

(28117, 1833)

In [47]:
df1 = pd.read_spss('spss12/1c.sav')
#print all rows where gor6 != "Excluded from filter"
df1 = df1[df1['gor6'] != "Excluded from filter"]
df1.head()
#print gor6 categories
df1['gor6'].unique()

['North', 'Midlands', 'East', 'South', 'London']
Categories (6, object): ['East', 'Excluded from filter', 'London', 'Midlands', 'North', 'South']

In [43]:
#rename muspsa column to museum_visits
df1.rename(columns={'muspsa':'museum_visits'}, inplace=True)
#convert museum_visits column by mapping
# ['Been to 1+ museum/gallery in last year': 1, 'No associated adult data': 0, 'Not been to museum/gallery in last year': 0]
df1['museum_visits'] = df1['museum_visits'].map({'Been to 1+ museum/gallery in last year': 1, 'No associated adult data': 0, 'Not been to museum/gallery in last year': 0})

df1["muspsa2"] = df1["museum_visits"].map({'Been to 1+ museum/gallery in last year': 1, 'No associated adult data': 0, 'Not been to museum/gallery in last year': 0})

#sum both columns together to get total number of museum visits
df1['museum_visits'] = df1['museum_visits'] + df1['muspsa2']
#drop muspsa2 column
df1.drop(['muspsa2'], axis=1, inplace=True)

gor
East Midlands               0.0
East of England             0.0
London                      0.0
North East                  0.0
North West                  0.0
South East                  0.0
South West                  0.0
West Midlands               0.0
Yorkshire and Humberside    0.0
Name: museum_visits, dtype: float64

In [41]:
heritage_site_cols = ['herpsa', 'herpsa2']

,scrserU,ycserial,areaU,scrser,cserial,cscreen,acserial,intday,intmon,intyear,...,areatyp,padd1,padd2,pchild,designweightchild,nrweight,desnrweight,unscaledweight,scaledweight,populationweight
0,11003109.0,1100310.0,11003.0,1003109.0,100310.0,Main sample address (child),1003100.0,20.0,February,2006.0,...,Urban,0.004058,0.0,0.004058,246.426811,1.613,397.486447,313.612427,0.369509,404.784119
1,11003229.0,1100322.0,11003.0,1003229.0,100322.0,Main sample address (child),1003220.0,1.0,March,2006.0,...,Urban,0.004058,0.0,0.004058,246.426811,1.704,419.911286,329.983551,0.388798,425.914566
2,11004029.0,1100402.0,11004.0,1004029.0,100402.0,Main sample address (child),1004020.0,13.0,May,2006.0,...,Urban,0.004058,0.0,0.002029,492.853622,2.037,1003.942829,944.195984,1.112484,1218.687483
3,11004159.0,1100415.0,11004.0,1004159.0,100415.0,Main sample address (child),1004150.0,21.0,March,2006.0,...,Urban,0.004058,0.0,0.004058,246.426811,2.037,501.971414,366.654938,0.432005,473.246859
4,11005249.0,1100524.0,11005.0,1005249.0,100524.0,Main sample address (child),1005240.0,20.0,April,2006.0,...,Urban,0.004058,0.0,0.004058,246.426811,1.639,403.893544,381.378479,0.449353,492.250747