In [59]:
import pandas as pd
df = pd.read_csv(r'C:\Users\Administrator\Downloads\ml_project_cse204-main\ml_project_cse204-main\Datasets-under-consideration\London\UK_international-visits.csv')
df.head()

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,year,quarter,market,dur_stay,mode,purpose,area,visits,spend,nights,sample
0,2002,January-March,Belgium,1-3 nights,Air,Holiday,TOTAL ENGLAND,4.431616,1.013484,9.530416,6
1,2002,January-March,Belgium,1-3 nights,Air,Holiday,LONDON,3.572186,0.969138,6.954456,5
2,2002,January-March,Belgium,1-3 nights,Air,Holiday,REST OF ENGLAND,0.859430,0.044346,2.575960,1
3,2002,January-March,Belgium,1-3 nights,Air,Holiday,SOUTHERN ENGLAND,0.859430,0.044346,2.575960,1
4,2002,January-March,Belgium,1-3 nights,Air,Holiday,SOUTH EAST,0.859430,0.044346,2.575960,1

In [60]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 549853 entries, 0 to 549852
Data columns (total 11 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   year      549853 non-null  object
 1   quarter   549853 non-null  object
 2   market    549853 non-null  object
 3   dur_stay  549853 non-null  object
 4   mode      549853 non-null  object
 5   purpose   549853 non-null  object
 6   area      549853 non-null  object
 7   visits    549853 non-null  float64
 8   spend     549853 non-null  float64
 9   nights    549853 non-null  float64
 10  sample    549853 non-null  int64
dtypes: float64(3), int64(1), object(7)
memory usage: 46.1+ MB

In [61]:
from sklearn.preprocessing import MinMaxScaler

# Assuming you have a dataframe called 'df' and a list of columns to normalize
columns_to_normalize = ['visits','spend','nights', 'sample']

scaler = MinMaxScaler()
df[columns_to_normalize] = scaler.fit_transform(df[columns_to_normalize])

In [62]:
df.head()

,year,quarter,market,dur_stay,mode,purpose,area,visits,spend,nights,sample
0,2002,January-March,Belgium,1-3 nights,Air,Holiday,TOTAL ENGLAND,0.019436,0.002407,0.002366,0.014925
1,2002,January-March,Belgium,1-3 nights,Air,Holiday,LONDON,0.015667,0.002302,0.001726,0.011940
2,2002,January-March,Belgium,1-3 nights,Air,Holiday,REST OF ENGLAND,0.003769,0.000108,0.000639,0.000000
3,2002,January-March,Belgium,1-3 nights,Air,Holiday,SOUTHERN ENGLAND,0.003769,0.000108,0.000639,0.000000
4,2002,January-March,Belgium,1-3 nights,Air,Holiday,SOUTH EAST,0.003769,0.000108,0.000639,0.000000

In [63]:
import pandas as pd


cultural_engagement_scores = {}

# Get unique values from the 'market' and 'purpose' columns
markets = df['market'].unique()
purposes = df['purpose'].unique()

# Assign scores based on market and purpose combinations
for market in markets:
    for purpose in purposes:
        if market == 'France' and purpose == 'Holiday':
            score = 5
        elif market in ['Germany', 'Italy', 'Spain'] and purpose in ['Holiday', 'Business']:
            score = 4
        elif market in ['USA', 'Canada'] and purpose == 'Holiday':
            score = 3
        else:
            score = 2

        cultural_engagement_scores[(market, purpose)] = score

# Print the cultural engagement scores mapping
for key, value in cultural_engagement_scores.items():
    print(f"{key}: {value}")

('Belgium', 'Holiday'): 2
('Belgium', 'Business'): 2
('Belgium', 'VFR'): 2
('Belgium', 'Miscellaneous'): 2
('Belgium', 'Study'): 2
('Luxembourg', 'Holiday'): 2
('Luxembourg', 'Business'): 2
('Luxembourg', 'VFR'): 2
('Luxembourg', 'Miscellaneous'): 2
('Luxembourg', 'Study'): 2
('France', 'Holiday'): 5
('France', 'Business'): 2
('France', 'VFR'): 2
('France', 'Miscellaneous'): 2
('France', 'Study'): 2
('Germany', 'Holiday'): 4
('Germany', 'Business'): 4
('Germany', 'VFR'): 2
('Germany', 'Miscellaneous'): 2
('Germany', 'Study'): 2
('Italy', 'Holiday'): 4
('Italy', 'Business'): 4
('Italy', 'VFR'): 2
('Italy', 'Miscellaneous'): 2
('Italy', 'Study'): 2
('Netherlands', 'Holiday'): 2
('Netherlands', 'Business'): 2
('Netherlands', 'VFR'): 2
('Netherlands', 'Miscellaneous'): 2
('Netherlands', 'Study'): 2
('Denmark', 'Holiday'): 2
('Denmark', 'Business'): 2
('Denmark', 'VFR'): 2
('Denmark', 'Miscellaneous'): 2
('Denmark', 'Study'): 2
('Greece', 'Holiday'): 2
('Greece', 'Business'): 2
('Greece', 'VFR'): 2
('Greece', 'Miscellaneous'): 2
('Greece', 'Study'): 2
('Spain', 'Holiday'): 4
('Spain', 'Business'): 4
('Spain', 'VFR'): 2
('Spain', 'Miscellaneous'): 2
('Spain', 'Study'): 2
('Portugal', 'Holiday'): 2
('Portugal', 'Business'): 2
('Portugal', 'VFR'): 2
('Portugal', 'Miscellaneous'): 2
('Portugal', 'Study'): 2
('Austria', 'Holiday'): 2
('Austria', 'Business'): 2
('Austria', 'VFR'): 2
('Austria', 'Miscellaneous'): 2
('Austria', 'Study'): 2
('Sweden', 'Holiday'): 2
('Sweden', 'Business'): 2
('Sweden', 'VFR'): 2
('Sweden', 'Miscellaneous'): 2
('Sweden', 'Study'): 2
('Finland', 'Holiday'): 2
('Finland', 'Business'): 2
('Finland', 'VFR'): 2
('Finland', 'Miscellaneous'): 2
('Finland', 'Study'): 2
('Irish Republic', 'Holiday'): 2
('Irish Republic', 'Business'): 2
('Irish Republic', 'VFR'): 2
('Irish Republic', 'Miscellaneous'): 2
('Irish Republic', 'Study'): 2
('Turkey', 'Holiday'): 2
('Turkey', 'Business'): 2
('Turkey', 'VFR'): 2
('Turkey', 'Miscellaneous'): 2
('Turkey', 'Study'): 2
('Switzerland', 'Holiday'): 2
('Switzerland', 'Business'): 2
('Switzerland', 'VFR'): 2
('Switzerland', 'Miscellaneous'): 2
('Switzerland', 'Study'): 2
('Norway', 'Holiday'): 2
('Norway', 'Business'): 2
('Norway', 'VFR'): 2
('Norway', 'Miscellaneous'): 2
('Norway', 'Study'): 2
('Iceland', 'Holiday'): 2
('Iceland', 'Business'): 2
('Iceland', 'VFR'): 2
('Iceland', 'Miscellaneous'): 2
('Iceland', 'Study'): 2
('Czech Republic', 'Holiday'): 2
('Czech Republic', 'Business'): 2
('Czech Republic', 'VFR'): 2
('Czech Republic', 'Miscellaneous'): 2
('Czech Republic', 'Study'): 2
('Poland', 'Holiday'): 2
('Poland', 'Business'): 2
('Poland', 'VFR'): 2
('Poland', 'Miscellaneous'): 2
('Poland', 'Study'): 2
('Hungary', 'Holiday'): 2
('Hungary', 'Business'): 2
('Hungary', 'VFR'): 2
('Hungary', 'Miscellaneous'): 2
('Hungary', 'Study'): 2
('Russia', 'Holiday'): 2
('Russia', 'Business'): 2
('Russia', 'VFR'): 2
('Russia', 'Miscellaneous'): 2
('Russia', 'Study'): 2
('Other Western Europe', 'Holiday'): 2
('Other Western Europe', 'Business'): 2
('Other Western Europe', 'VFR'): 2
('Other Western Europe', 'Miscellaneous'): 2
('Other Western Europe', 'Study'): 2
('Other Eastern Europe', 'Holiday'): 2
('Other Eastern Europe', 'Business'): 2
('Other Eastern Europe', 'VFR'): 2
('Other Eastern Europe', 'Miscellaneous'): 2
('Other Eastern Europe', 'Study'): 2
('USA', 'Holiday'): 3
('USA', 'Business'): 2
('USA', 'VFR'): 2
('USA', 'Miscellaneous'): 2
('USA', 'Study'): 2
('Canada', 'Holiday'): 3
('Canada', 'Business'): 2
('Canada', 'VFR'): 2
('Canada', 'Miscellaneous'): 2
('Canada', 'Study'): 2
('Mexico', 'Holiday'): 2
('Mexico', 'Business'): 2
('Mexico', 'VFR'): 2
('Mexico', 'Miscellaneous'): 2
('Mexico', 'Study'): 2
('Brazil', 'Holiday'): 2
('Brazil', 'Business'): 2
('Brazil', 'VFR'): 2
('Brazil', 'Miscellaneous'): 2
('Brazil', 'Study'): 2
('Argentina', 'Holiday'): 2
('Argentina', 'Business'): 2
('Argentina', 'VFR'): 2
('Argentina', 'Miscellaneous'): 2
('Argentina', 'Study'): 2
('Other Central & South America', 'Holiday'): 2
('Other Central & South America', 'Business'): 2
('Other Central & South America', 'VFR'): 2
('Other Central & South America', 'Miscellaneous'): 2
('Other Central & South America', 'Study'): 2
('Hong Kong', 'Holiday'): 2
('Hong Kong', 'Business'): 2
('Hong Kong', 'VFR'): 2
('Hong Kong', 'Miscellaneous'): 2
('Hong Kong', 'Study'): 2
('Malaysia', 'Holiday'): 2
('Malaysia', 'Business'): 2
('Malaysia', 'VFR'): 2
('Malaysia', 'Miscellaneous'): 2
('Malaysia', 'Study'): 2
('Thailand', 'Holiday'): 2
('Thailand', 'Business'): 2
('Thailand', 'VFR'): 2
('Thailand', 'Miscellaneous'): 2
('Thailand', 'Study'): 2
('Singapore', 'Holiday'): 2
('Singapore', 'Business'): 2
('Singapore', 'VFR'): 2
('Singapore', 'Miscellaneous'): 2
('Singapore', 'Study'): 2
('Taiwan', 'Holiday'): 2
('Taiwan', 'Business'): 2
('Taiwan', 'VFR'): 2
('Taiwan', 'Miscellaneous'): 2
('Taiwan', 'Study'): 2
('China', 'Holiday'): 2
('China', 'Business'): 2
('China', 'VFR'): 2
('China', 'Miscellaneous'): 2
('China', 'Study'): 2
('Other Asia', 'Holiday'): 2
('Other Asia', 'Business'): 2
('Other Asia', 'VFR'): 2
('Other Asia', 'Miscellaneous'): 2
('Other Asia', 'Study'): 2
('Japan', 'Holiday'): 2
('Japan', 'Business'): 2
('Japan', 'VFR'): 2
('Japan', 'Miscellaneous'): 2
('Japan', 'Study'): 2
('South Korea', 'Holiday'): 2
('South Korea', 'Business'): 2
('South Korea', 'VFR'): 2
('South Korea', 'Miscellaneous'): 2
('South Korea', 'Study'): 2
('Australia', 'Holiday'): 2
('Australia', 'Business'): 2
('Australia', 'VFR'): 2
('Australia', 'Miscellaneous'): 2
('Australia', 'Study'): 2
('New Zealand', 'Holiday'): 2
('New Zealand', 'Business'): 2
('New Zealand', 'VFR'): 2
('New Zealand', 'Miscellaneous'): 2
('New Zealand', 'Study'): 2
('United Arab Emirates', 'Holiday'): 2
('United Arab Emirates', 'Business'): 2
('United Arab Emirates', 'VFR'): 2
('United Arab Emirates', 'Miscellaneous'): 2
('United Arab Emirates', 'Study'): 2
('Saudi Arabia', 'Holiday'): 2
('Saudi Arabia', 'Business'): 2
('Saudi Arabia', 'VFR'): 2
('Saudi Arabia', 'Miscellaneous'): 2
('Saudi Arabia', 'Study'): 2
('Kuwait', 'Holiday'): 2
('Kuwait', 'Business'): 2
('Kuwait', 'VFR'): 2
('Kuwait', 'Miscellaneous'): 2
('Kuwait', 'Study'): 2
('Other Middle East', 'Holiday'): 2
('Other Middle East', 'Business'): 2
('Other Middle East', 'VFR'): 2
('Other Middle East', 'Miscellaneous'): 2
('Other Middle East', 'Study'): 2
('Egypt', 'Holiday'): 2
('Egypt', 'Business'): 2
('Egypt', 'VFR'): 2
('Egypt', 'Miscellaneous'): 2
('Egypt', 'Study'): 2
('Israel', 'Holiday'): 2
('Israel', 'Business'): 2
('Israel', 'VFR'): 2
('Israel', 'Miscellaneous'): 2
('Israel', 'Study'): 2
('India', 'Holiday'): 2
('India', 'Business'): 2
('India', 'VFR'): 2
('India', 'Miscellaneous'): 2
('India', 'Study'): 2
('Pakistan', 'Holiday'): 2
('Pakistan', 'Business'): 2
('Pakistan', 'VFR'): 2
('Pakistan', 'Miscellaneous'): 2
('Pakistan', 'Study'): 2
('South Africa', 'Holiday'): 2
('South Africa', 'Business'): 2
('South Africa', 'VFR'): 2
('South Africa', 'Miscellaneous'): 2
('South Africa', 'Study'): 2
('Other Southern Africa', 'Holiday'): 2
('Other Southern Africa', 'Business'): 2
('Other Southern Africa', 'VFR'): 2
('Other Southern Africa', 'Miscellaneous'): 2
('Other Southern Africa', 'Study'): 2
('Nigeria', 'Holiday'): 2
('Nigeria', 'Business'): 2
('Nigeria', 'VFR'): 2
('Nigeria', 'Miscellaneous'): 2
('Nigeria', 'Study'): 2
('Kenya', 'Holiday'): 2
('Kenya', 'Business'): 2
('Kenya', 'VFR'): 2
('Kenya', 'Miscellaneous'): 2
('Kenya', 'Study'): 2
('Other Africa', 'Holiday'): 2
('Other Africa', 'Business'): 2
('Other Africa', 'VFR'): 2
('Other Africa', 'Miscellaneous'): 2
('Other Africa', 'Study'): 2
('Bulgaria', 'Holiday'): 2
('Bulgaria', 'Business'): 2
('Bulgaria', 'VFR'): 2
('Bulgaria', 'Miscellaneous'): 2
('Bulgaria', 'Study'): 2
('Romania', 'Holiday'): 2
('Romania', 'Business'): 2
('Romania', 'VFR'): 2
('Romania', 'Miscellaneous'): 2
('Romania', 'Study'): 2
('Serbia', 'Holiday'): 2
('Serbia', 'Business'): 2
('Serbia', 'VFR'): 2
('Serbia', 'Miscellaneous'): 2
('Serbia', 'Study'): 2
('Chile', 'Holiday'): 2
('Chile', 'Business'): 2
('Chile', 'VFR'): 2
('Chile', 'Miscellaneous'): 2
('Chile', 'Study'): 2
('Indonesia', 'Holiday'): 2
('Indonesia', 'Business'): 2
('Indonesia', 'VFR'): 2
('Indonesia', 'Miscellaneous'): 2
('Indonesia', 'Study'): 2
('Bahrain', 'Holiday'): 2
('Bahrain', 'Business'): 2
('Bahrain', 'VFR'): 2
('Bahrain', 'Miscellaneous'): 2
('Bahrain', 'Study'): 2
('Oman', 'Holiday'): 2
('Oman', 'Business'): 2
('Oman', 'VFR'): 2
('Oman', 'Miscellaneous'): 2
('Oman', 'Study'): 2
('Qatar', 'Holiday'): 2
('Qatar', 'Business'): 2
('Qatar', 'VFR'): 2
('Qatar', 'Miscellaneous'): 2
('Qatar', 'Study'): 2

In [64]:
import pandas as pd

# Create a new column 'cultural_engagement' based on the mapping
df['cultural_engagement'] = df.apply(lambda row: cultural_engagement_scores.get((row['market'], row['purpose'])), axis=1)

# Print the updated dataframe
df.head()

,year,quarter,market,dur_stay,mode,purpose,area,visits,spend,nights,sample,cultural_engagement
0,2002,January-March,Belgium,1-3 nights,Air,Holiday,TOTAL ENGLAND,0.019436,0.002407,0.002366,0.014925,2
1,2002,January-March,Belgium,1-3 nights,Air,Holiday,LONDON,0.015667,0.002302,0.001726,0.011940,2
2,2002,January-March,Belgium,1-3 nights,Air,Holiday,REST OF ENGLAND,0.003769,0.000108,0.000639,0.000000,2
3,2002,January-March,Belgium,1-3 nights,Air,Holiday,SOUTHERN ENGLAND,0.003769,0.000108,0.000639,0.000000,2
4,2002,January-March,Belgium,1-3 nights,Air,Holiday,SOUTH EAST,0.003769,0.000108,0.000639,0.000000,2

In [68]:
# Convert 'year' and 'quarter' to numerical data types
df['year'] = pd.to_datetime(df['year'], format='%Y-P')

ValueError: time data '2002' does not match format '%Y-P' (match)

In [67]:
df.year.unique

<bound method Series.unique of 0          2002
1          2002
2          2002
3          2002
4          2002
          ...
549848    2019P
549849    2019P
549850    2019P
549851    2019P
549852    2019P
Name: year, Length: 549853, dtype: object>

In [ ]:
df.head()

In [69]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error, mean_squared_error
from sklearn.preprocessing import StandardScaler

# Set the chunk size for streaming/batch processing
chunk_size = 10000

# Initialize the linear regression models
model_visits = LinearRegression()
model_spend = LinearRegression()

# Initialize variables for accumulating metrics
mae_visits_total = 0.0
rss_visits_total = 0.0
mae_spend_total = 0.0
rss_spend_total = 0.0
num_samples = 0

# Select the features and target variables
target_visits = 'visits'
target_spend = 'spend'

# Separate categorical and numerical features
categorical_features = ['dur_stay','market', 'mode', 'purpose', 'area']
numerical_features = ['nights', 'sample']

# Split the DataFrame into chunks
chunks = [df[i:i+chunk_size] for i in range(0, len(df), chunk_size)]

# Iterate over the dataset in chunks
for chunk in chunks:
    # Preprocess categorical features
    chunk_categorical = pd.get_dummies(chunk[categorical_features], columns=categorical_features)

    # Preprocess numerical features
    chunk_numerical = chunk[numerical_features].copy()
    scaler = StandardScaler()
    chunk_numerical[numerical_features] = scaler.fit_transform(chunk_numerical)

    # Concatenate preprocessed categorical and numerical features
    chunk_preprocessed = pd.concat([chunk_categorical, chunk_numerical], axis=1)
    
    # Add target columns to chunk_preprocessed
    chunk_preprocessed[target_visits] = chunk[target_visits]
    chunk_preprocessed[target_spend] = chunk[target_spend]
    
    
    # Split the chunk into features and target variables
    X = chunk_preprocessed.drop([target_visits, target_spend], axis=1)
    y_visits = chunk[target_visits]
    y_spend = chunk[target_spend]

    # Split the chunk into training and testing sets
    X_train, X_test, y_train_visits, y_test_visits = train_test_split(
        X, y_visits, test_size=0.2, random_state=42
    )
    _, _, y_train_spend, y_test_spend = train_test_split(
        X, y_spend, test_size=0.2, random_state=42
    )

    # Fit the linear regression models
    model_visits.fit(X_train, y_train_visits)
    model_spend.fit(X_train, y_train_spend)

    # Make predictions on the testing set
    visits_predictions = model_visits.predict(X_test)
    spend_predictions = model_spend.predict(X_test)

    # Calculate metrics for this chunk
    mae_visits = mean_absolute_error(y_test_visits, visits_predictions)
    rss_visits = mean_squared_error(y_test_visits, visits_predictions) * len(y_test_visits)
    mae_spend = mean_absolute_error(y_test_spend, spend_predictions)
    rss_spend = mean_squared_error(y_test_spend, spend_predictions) * len(y_test_spend)

    # Accumulate metrics for the entire dataset
    mae_visits_total += mae_visits
    rss_visits_total += rss_visits
    mae_spend_total += mae_spend
    rss_spend_total += rss_spend
    num_samples += len(chunk)

# Calculate average metrics for the entire dataset
avg_mae_visits = mae_visits_total / num_samples
avg_rss_visits = rss_visits_total / num_samples
avg_mae_spend = mae_spend_total / num_samples
avg_rss_spend = rss_spend_total / num_samples

print('Visits - Average MAE:', avg_mae_visits)
print('Visits - Average RSS:', avg_rss_visits)
print('Spend - Average MAE:', avg_mae_spend)
print('Spend - Average RSS:', avg_rss_spend)

Visits - Average MAE: 7.26090306088142e-07
Visits - Average RSS: 4.889423058989755e-05
Spend - Average MAE: 3.0412235317229985e-07
Spend - Average RSS: 1.1538361427221307e-05